body {
  text-align: center;
  width: auto;
  height: auto;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto 28%;
  grid-template-rows: 10% 20% 23% 25%;
  grid-gap: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  background-color: black;
}

button {
  padding: 10px;
  margin: 10px;
  border: 1px purple solid;
}

.center {
  height: 20vh;
  width: 100vw;
  text-align: center;
  margin: auto;
}

.container-fluid {
  background-color: rgb(23, 19, 56);

}

#naving {
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: black;

}

#canvasSpace {
  position:relative;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: rgb(173, 216, 230);
}

#canvas {
  z-index: 2;
  position:absolute;
  width:100%;
  height:100%;
  border: 1px solid aquamarine;
  top: 0rem;
  right: 0rem;
}
#canvas2 {
  top: 0rem;
  right: 0rem;
  width:100%;
  height:100%;
  position:absolute;
  z-index:1;
  background-color: #e6edee;
}
#title {
  color: rgb(224, 228, 235);
}

#lowerControlUI {
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  background-color: rgb(173, 216, 230);
}

#rightParameterUI {
  overflow:hidden;
  border-radius: 5px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  padding-bottom: 30px;
  background-color: rgb(173, 216, 230);
}

#rightDrawingUI {
  display:inline-block;
  border-radius: 5px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: rgb(173, 216, 230);
}

#foot {
  padding: 30px;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 10;
  background-color: rgb(173, 216, 230);
}
  

@media only screen and (max-width: 700px) {

  body {
    text-align: center;
    width: auto;
    height: auto;
    margin: 0;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 30% 30% 40% 20% 30%;
    
  }
  #naving {
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: black;
  
  }

  #canvasSpace {
    position:relative;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(173, 216, 230);
  }

  #rightParameterUI {
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-bottom: 30px;
    background-color: rgb(173, 216, 230);
  }
  
  #rightDrawingUI {
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(173, 216, 230);
  }

  #lowerControlUI {
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(173, 216, 230);
  }

  #foot {
    padding: 30px;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: rgb(173, 216, 230);
  }

}
